.App {
  text-align: center;
}
body{
  overflow-x:hidden;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 600px) {
  #myInput {
    width: 50%;
  } 
  #check {
    border-right: 0px white;
}
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*NavBar*/ 
#nb1{
  height: 40px;
  width: 100%;
}
#nb2 {
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 18px;
}
#nb3{
  padding-bottom: 50px;
}

/*Footer*/ 
footer{
  bottom:0;
  position: fixed;
  width:100%;
  background-color: black;
}
#f1, #f2 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* Search Bar */
#myInput {
  background-image: url('/descarga.png');  
  background-position: 10px 12px; /* */
  background-repeat: no-repeat; /*  */
  background-size:14px 14px;
 /* width: 100%; /* Full-width */
  height:12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-right: 16px;
  margin-top: 18px;
  margin-bottom: 10px; /* Add some space below the input */
  box-shadow: 0 1px 1px rgba(223, 184, 165, 0.075)inset, 0 0 8px rgba(4, 4, 5, 0.6);
  outline: 0 none;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  color:grey;
}

/* Check Box */
#check {
margin-left:6px;
border-right: 2px solid grey;
height: 85%;
position: absolute;
margin-top:34px;
}
#filter{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
#ch1, #ch2, #ch3 {
  border:2px solid black;
    background-color:black;
}
label{
  margin-top:15px;
  margin-left: 15px;
}
span{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size:15px ;
}

/* Card */

/* acercar al filtro despues de los 500px*/

#container{
  margin-left:400px;
  margin-top:20px;
}
#card{
  background-color: white;
  width:90%;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: relative;
  margin: 12px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  min-width: 150px;
  height:250px;
}
.card-image{
  width: 100%;
}
.card-name{
  font-size: 20px;
  margin: 7px 0 7px 0;
} 

/*Details*/
#loading {
  font-family:'Roboto', sans-serif;
  size:100px;
}
/*Select*/
#select {
  margin-top:300px;
}
#sel {
  box-shadow: 0 1px 1px rgba(223, 184, 165, 0.075)inset, 0 0 8px rgba(4, 4, 5, 0.6);
}
.s,.l {
font-family: 'Roboto', sans-serif;
}

